/* Free css docuement by Templatesperfect.com
Template: Black Cat
 Author Paarth */

body{
	font: 12px Arial, Helvetica, sans-serif;
	background-image:url("images/bodybg.png");
}

	
#main {
	width: 1000px;
	margin: 0px auto;
	background-color:#d8e0fc;
	}

#header {
	height: 95px;
	background-image:url("images/bodybg.png");
}

#logo {	
	
		width: 280px;
		float:left;

}

/***** menu *****/
.menu 
{
	padding:1px;
	width:100%;
	list-style-type:none;

}
.menu li {
	float:left;
	font-weight:bold;
	list-style-type:none;
	margin-top:10px;
	position:relative;
	padding-right:1px;
	background:url(images/menu-spacer.gif) right top repeat-y;
}
	.menu li.last {background:none; padding:0}
.menu li a {
	display:block;
	font-size:14px;
	line-height:2em;
	padding:6px 25px 8px 25px;
	color:#fff;
	text-transform:capitalize;
	background:#2b2b2b;
	text-decoration:none;
}
	.menu li:first-child a {
		padding:6px 0 8px;
		width:58px;
		text-indent:-9999px;
		background:url(images/menu-home-icon.png)  center no-repeat #2b2b2b;
		
		-moz-border-radius:9px 0 0 9px;
		-webkit-border-radius:9px 0 0 9px;
	}
	.menu li.last a {
		padding:6px 15px 8px 15px;
	
		-moz-border-radius:0 9px 9px 0;
		-webkit-border-radius:0 9px 9px 0;
	}
.menu li a.active,
.menu  li  a:hover 
{
	background-color:Teal;
	color:#FFFF99;

}
	
	
		
		
/*
scroll styles here
*/

#main_content
{
	height:auto;
	min-height:550px;
	padding-top:5px;
	 background-color:#E6E6E6;
}
#right
{
	float:right;
	width:1000px;
	text-align:center; 
	min-height:300px;
	
	  
	
}

#tblleft td :hover
{ 
	color:Teal;
	
	}
		.tblcolor
		{
			color:#990000;
			}


#left
{
	float:left;
	width:100px;
	height:auto;
	 text-align:left;
	 margin-right:10px;
	 margin-top:5px; 
	 margin-left:10px;
	 padding-left:10px;
	 font-size:15px;
	
}
.clr
{
	clear:both;
}



#footer{
	height: 45px;
	font-size: 12px;
	color: White;
	background: #666 url(images/square.png);
	text-align:right;
	padding-right:5px;

	
}
# footer p 
{
	
	line-height:22px;
text-align:right;
padding-right: 200px;

}












